body {
  font: 13px "Lucida Grande", Tahoma, Verdana, sans-serif;
}

.table {
	width: 100%;
	margin-bottom: 20px;
	border: 5px solid #fff;
	border-top: 5px solid #fff;
	border-bottom: 3px solid #fff;
	border-collapse: collapse; 
	outline: 3px solid #ffd300;
	background: #faff78;
	font-size: 15px;
}
.table th {
	font-weight: bold;
	padding: 7px;
	background: #ffd300;
	border: none;
	text-align: left;
	border-top: 3px solid #fff;
	border-bottom: 3px solid #ffd300;
}
.table td {
	padding: 7px;
	border: none;
	border-top: 3px solid #fff;
	border-bottom: 3px solid #fff;
}
.table tbody tr:nth-child(even){
	background: #faff78;
}

.selectBox{
	float:left;
	width: 15%;
	text-align: center;	

}

.checkBoxWrap{	
	float:left;	
	width: auto;
	text-align: center;	
}

.checkBox{	
	text-align: left;	
	display: inline-block;
	margin: 0 20px;
}

.box {
	 text-align: center;
	  width: 120px;
	  height: 30px;
	  border: 1px solid #999;
	  font-size: 18px;
	  color: #1c87c9;
	  background-color: #eee;
	  border-radius: 5px;

}

.symbolsStyle{
	font-size: 18px;
}