body {
  font: 13px/20px "Lucida Grande", Tahoma, Verdana, sans-serif;
  color: $color;
  background: $color;
}

.table {
	width: 100%;
	margin-bottom: 20px;
	border: 5px solid #fff;
	border-top: 5px solid #fff;
	border-bottom: 3px solid #fff;
	border-collapse: collapse; 
	outline: 3px solid #ffd300;
	font-size: 15px;
	background: #faff78;
}
.table th {
	font-weight: bold;
	padding: 7px;
	background: #ffd300;
	border: none;
	text-align: left;
	font-size: 15px;
	border-top: 3px solid #fff;
	border-bottom: 3px solid #ffd300;
}
.table td {
	padding: 7px;
	border: none;
	border-top: 3px solid #fff;
	border-bottom: 3px solid #fff;
	font-size: 15px;
}
.table tbody tr:nth-child(even){
	background: #faff78;
}

.box {
	  width: 120px;
	  height: 30px;
	  border: 1px solid #999;
	  font-size: 18px;
	  color: #1c87c9;
	  background-color: #eee;
	  border-radius: 5px;
	  box-shadow: 4px 4px #ccc;
}